/*
Vertesia API

The Vertesia API provides project-scoped access to interaction execution and content workflows. Use it to run interactions, inspect execution history, stream run progress, replay previous executions, and search content objects and collections. Authenticate requests with a bearer token, or use the official `@vertesia/client` package for typed access from Node.js applications.

API version: 1.5.0-dev.20260905.011013Z
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)

// EventsAPIService EventsAPI service
type EventsAPIService service

type ApiCancelEventDeliveryIntentsRequest struct {
	ctx                               context.Context
	ApiService                        *EventsAPIService
	cancelEventDeliveryIntentsPayload *CancelEventDeliveryIntentsPayload
	xApiVersion                       *string
}

func (r ApiCancelEventDeliveryIntentsRequest) CancelEventDeliveryIntentsPayload(cancelEventDeliveryIntentsPayload CancelEventDeliveryIntentsPayload) ApiCancelEventDeliveryIntentsRequest {
	r.cancelEventDeliveryIntentsPayload = &cancelEventDeliveryIntentsPayload
	return r
}

// Optional Vertesia API version header. Use &#x60;20260803&#x60; for the current stable API shape.
func (r ApiCancelEventDeliveryIntentsRequest) XApiVersion(xApiVersion string) ApiCancelEventDeliveryIntentsRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCancelEventDeliveryIntentsRequest) Execute() (*CancelEventDeliveryIntentsResponse, *http.Response, error) {
	return r.ApiService.CancelEventDeliveryIntentsExecute(r)
}

/*
CancelEventDeliveryIntents Cancel queued event delivery intents

Cancels matching pending and retrying delivery intents for the current project and deployment environment through a server-side watermark. Active deliveries and later events are not changed.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCancelEventDeliveryIntentsRequest
*/
func (a *EventsAPIService) CancelEventDeliveryIntents(ctx context.Context) ApiCancelEventDeliveryIntentsRequest {
	return ApiCancelEventDeliveryIntentsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CancelEventDeliveryIntentsResponse
func (a *EventsAPIService) CancelEventDeliveryIntentsExecute(r ApiCancelEventDeliveryIntentsRequest) (*CancelEventDeliveryIntentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CancelEventDeliveryIntentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.CancelEventDeliveryIntents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/events/deliveries/cancel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.cancelEventDeliveryIntentsPayload == nil {
		return localVarReturnValue, nil, reportError("cancelEventDeliveryIntentsPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.cancelEventDeliveryIntentsPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetEventDeliveryQueueSummaryRequest struct {
	ctx                              context.Context
	ApiService                       *EventsAPIService
	eventDeliveryQueueSummaryPayload *EventDeliveryQueueSummaryPayload
	xApiVersion                      *string
}

func (r ApiGetEventDeliveryQueueSummaryRequest) EventDeliveryQueueSummaryPayload(eventDeliveryQueueSummaryPayload EventDeliveryQueueSummaryPayload) ApiGetEventDeliveryQueueSummaryRequest {
	r.eventDeliveryQueueSummaryPayload = &eventDeliveryQueueSummaryPayload
	return r
}

// Optional Vertesia API version header. Use &#x60;20260803&#x60; for the current stable API shape.
func (r ApiGetEventDeliveryQueueSummaryRequest) XApiVersion(xApiVersion string) ApiGetEventDeliveryQueueSummaryRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetEventDeliveryQueueSummaryRequest) Execute() (*EventDeliveryQueueSummaryResponse, *http.Response, error) {
	return r.ApiService.GetEventDeliveryQueueSummaryExecute(r)
}

/*
GetEventDeliveryQueueSummary Get event delivery queue summary

Summarizes outbox routing backlog and non-succeeded delivery intents for the current project, grouped by subscription and delivery target type.

**Required permissions:** `workflow:read`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetEventDeliveryQueueSummaryRequest
*/
func (a *EventsAPIService) GetEventDeliveryQueueSummary(ctx context.Context) ApiGetEventDeliveryQueueSummaryRequest {
	return ApiGetEventDeliveryQueueSummaryRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EventDeliveryQueueSummaryResponse
func (a *EventsAPIService) GetEventDeliveryQueueSummaryExecute(r ApiGetEventDeliveryQueueSummaryRequest) (*EventDeliveryQueueSummaryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EventDeliveryQueueSummaryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.GetEventDeliveryQueueSummary")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/events/deliveries/queue-summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.eventDeliveryQueueSummaryPayload == nil {
		return localVarReturnValue, nil, reportError("eventDeliveryQueueSummaryPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.eventDeliveryQueueSummaryPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchEventDeliveriesRequest struct {
	ctx                        context.Context
	ApiService                 *EventsAPIService
	listEventDeliveriesPayload *ListEventDeliveriesPayload
	xApiVersion                *string
}

func (r ApiSearchEventDeliveriesRequest) ListEventDeliveriesPayload(listEventDeliveriesPayload ListEventDeliveriesPayload) ApiSearchEventDeliveriesRequest {
	r.listEventDeliveriesPayload = &listEventDeliveriesPayload
	return r
}

// Optional Vertesia API version header. Use &#x60;20260803&#x60; for the current stable API shape.
func (r ApiSearchEventDeliveriesRequest) XApiVersion(xApiVersion string) ApiSearchEventDeliveriesRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiSearchEventDeliveriesRequest) Execute() (*ListEventDeliveriesResponse, *http.Response, error) {
	return r.ApiService.SearchEventDeliveriesExecute(r)
}

/*
SearchEventDeliveries Search event deliveries

Lists recent event outbox rows with their materialized delivery intents for the current project.

**Required permissions:** `workflow:read`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchEventDeliveriesRequest
*/
func (a *EventsAPIService) SearchEventDeliveries(ctx context.Context) ApiSearchEventDeliveriesRequest {
	return ApiSearchEventDeliveriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListEventDeliveriesResponse
func (a *EventsAPIService) SearchEventDeliveriesExecute(r ApiSearchEventDeliveriesRequest) (*ListEventDeliveriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListEventDeliveriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.SearchEventDeliveries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/events/deliveries/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.listEventDeliveriesPayload == nil {
		return localVarReturnValue, nil, reportError("listEventDeliveriesPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.listEventDeliveriesPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStreamEventDeliveriesRequest struct {
	ctx            context.Context
	ApiService     *EventsAPIService
	limit          *float32
	eventId        *string
	resourceId     *string
	resourceType   *[]string
	eventCategory  *[]string
	action         *[]string
	outboxStatus   *[]string
	sinceEventId   *string
	sinceCreatedAt *string
	includeEvent   *bool
	pollIntervalMs *float32
	xApiVersion    *string
}

func (r ApiStreamEventDeliveriesRequest) Limit(limit float32) ApiStreamEventDeliveriesRequest {
	r.limit = &limit
	return r
}

func (r ApiStreamEventDeliveriesRequest) EventId(eventId string) ApiStreamEventDeliveriesRequest {
	r.eventId = &eventId
	return r
}

func (r ApiStreamEventDeliveriesRequest) ResourceId(resourceId string) ApiStreamEventDeliveriesRequest {
	r.resourceId = &resourceId
	return r
}

func (r ApiStreamEventDeliveriesRequest) ResourceType(resourceType []string) ApiStreamEventDeliveriesRequest {
	r.resourceType = &resourceType
	return r
}

func (r ApiStreamEventDeliveriesRequest) EventCategory(eventCategory []string) ApiStreamEventDeliveriesRequest {
	r.eventCategory = &eventCategory
	return r
}

func (r ApiStreamEventDeliveriesRequest) Action(action []string) ApiStreamEventDeliveriesRequest {
	r.action = &action
	return r
}

func (r ApiStreamEventDeliveriesRequest) OutboxStatus(outboxStatus []string) ApiStreamEventDeliveriesRequest {
	r.outboxStatus = &outboxStatus
	return r
}

func (r ApiStreamEventDeliveriesRequest) SinceEventId(sinceEventId string) ApiStreamEventDeliveriesRequest {
	r.sinceEventId = &sinceEventId
	return r
}

func (r ApiStreamEventDeliveriesRequest) SinceCreatedAt(sinceCreatedAt string) ApiStreamEventDeliveriesRequest {
	r.sinceCreatedAt = &sinceCreatedAt
	return r
}

func (r ApiStreamEventDeliveriesRequest) IncludeEvent(includeEvent bool) ApiStreamEventDeliveriesRequest {
	r.includeEvent = &includeEvent
	return r
}

func (r ApiStreamEventDeliveriesRequest) PollIntervalMs(pollIntervalMs float32) ApiStreamEventDeliveriesRequest {
	r.pollIntervalMs = &pollIntervalMs
	return r
}

// Optional Vertesia API version header. Use &#x60;20260803&#x60; for the current stable API shape.
func (r ApiStreamEventDeliveriesRequest) XApiVersion(xApiVersion string) ApiStreamEventDeliveriesRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiStreamEventDeliveriesRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.StreamEventDeliveriesExecute(r)
}

/*
StreamEventDeliveries Stream event deliveries

Opens a Server-Sent Events stream of recent, new, and changed event delivery rows filtered by category, action, resource type, resource id, and status.

**Required permissions:** `workflow:read`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiStreamEventDeliveriesRequest
*/
func (a *EventsAPIService) StreamEventDeliveries(ctx context.Context) ApiStreamEventDeliveriesRequest {
	return ApiStreamEventDeliveriesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *EventsAPIService) StreamEventDeliveriesExecute(r ApiStreamEventDeliveriesRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.StreamEventDeliveries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/events/stream"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.eventId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "event_id", r.eventId, "form", "")
	}
	if r.resourceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resource_id", r.resourceId, "form", "")
	}
	if r.resourceType != nil {
		t := *r.resourceType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "resource_type", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "resource_type", t, "form", "multi")
		}
	}
	if r.eventCategory != nil {
		t := *r.eventCategory
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "event_category", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "event_category", t, "form", "multi")
		}
	}
	if r.action != nil {
		t := *r.action
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "action", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "action", t, "form", "multi")
		}
	}
	if r.outboxStatus != nil {
		t := *r.outboxStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "outbox_status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "outbox_status", t, "form", "multi")
		}
	}
	if r.sinceEventId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since_event_id", r.sinceEventId, "form", "")
	}
	if r.sinceCreatedAt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since_created_at", r.sinceCreatedAt, "form", "")
	}
	if r.includeEvent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_event", r.includeEvent, "form", "")
	}
	if r.pollIntervalMs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poll_interval_ms", r.pollIntervalMs, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
