/*
Vertesia API

The Vertesia API provides project-scoped access to interaction execution and content workflows. Use it to run interactions, inspect execution history, stream run progress, replay previous executions, and search content objects and collections. Authenticate requests with a bearer token, or use the official `@vertesia/client` SDK for typed access from Node.js applications.

API version: 1.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
	"time"
)

// AgentRunsAPIService AgentRunsAPI service
type AgentRunsAPIService service

type ApiAdvanceProcessRunRequest struct {
	ctx                   context.Context
	ApiService            *AgentRunsAPIService
	agentRunId            string
	advanceProcessPayload *AdvanceProcessPayload
	xApiVersion           *string
}

func (r ApiAdvanceProcessRunRequest) AdvanceProcessPayload(advanceProcessPayload AdvanceProcessPayload) ApiAdvanceProcessRunRequest {
	r.advanceProcessPayload = &advanceProcessPayload
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiAdvanceProcessRunRequest) XApiVersion(xApiVersion string) ApiAdvanceProcessRunRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiAdvanceProcessRunRequest) Execute() (*SignalAgentResponse, *http.Response, error) {
	return r.ApiService.AdvanceProcessRunExecute(r)
}

/*
AdvanceProcessRun Advance a process run

Signals a process workflow to advance to an explicit target or continue from its current node. The engine still validates the requested target against the current node's declared user-triggered transitions and guards.

**Required permissions:** `workflow:admin`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiAdvanceProcessRunRequest
*/
func (a *AgentRunsAPIService) AdvanceProcessRun(ctx context.Context, agentRunId string) ApiAdvanceProcessRunRequest {
	return ApiAdvanceProcessRunRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return SignalAgentResponse
func (a *AgentRunsAPIService) AdvanceProcessRunExecute(r ApiAdvanceProcessRunRequest) (*SignalAgentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SignalAgentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.AdvanceProcessRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/advance"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advanceProcessPayload == nil {
		return localVarReturnValue, nil, reportError("advanceProcessPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.advanceProcessPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnswerProcessTaskRequest struct {
	ctx                      context.Context
	ApiService               *AgentRunsAPIService
	agentRunId               string
	answerProcessTaskPayload *AnswerProcessTaskPayload
	xApiVersion              *string
}

func (r ApiAnswerProcessTaskRequest) AnswerProcessTaskPayload(answerProcessTaskPayload AnswerProcessTaskPayload) ApiAnswerProcessTaskRequest {
	r.answerProcessTaskPayload = &answerProcessTaskPayload
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiAnswerProcessTaskRequest) XApiVersion(xApiVersion string) ApiAnswerProcessTaskRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiAnswerProcessTaskRequest) Execute() (*SignalAgentResponse, *http.Response, error) {
	return r.ApiService.AnswerProcessTaskExecute(r)
}

/*
AnswerProcessTask Answer a process task

Validates and signals a human task answer to the backing process workflow, resuming a run paused on a `human_task` node. The caller must be the task assignee or have `task:manage`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiAnswerProcessTaskRequest
*/
func (a *AgentRunsAPIService) AnswerProcessTask(ctx context.Context, agentRunId string) ApiAnswerProcessTaskRequest {
	return ApiAnswerProcessTaskRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return SignalAgentResponse
func (a *AgentRunsAPIService) AnswerProcessTaskExecute(r ApiAnswerProcessTaskRequest) (*SignalAgentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SignalAgentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.AnswerProcessTask")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/answer-task"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.answerProcessTaskPayload == nil {
		return localVarReturnValue, nil, reportError("answerProcessTaskPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.answerProcessTaskPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateAgentRunRequest struct {
	ctx                   context.Context
	ApiService            *AgentRunsAPIService
	createAgentRunPayload *CreateAgentRunPayload
	xApiVersion           *string
}

func (r ApiCreateAgentRunRequest) CreateAgentRunPayload(createAgentRunPayload CreateAgentRunPayload) ApiCreateAgentRunRequest {
	r.createAgentRunPayload = &createAgentRunPayload
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiCreateAgentRunRequest) XApiVersion(xApiVersion string) ApiCreateAgentRunRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCreateAgentRunRequest) Execute() (*AgentRun, *http.Response, error) {
	return r.ApiService.CreateAgentRunExecute(r)
}

/*
CreateAgentRun Create an agent run

Creates a stable agent run record and starts the backing workflow. When the request body matches the process-run payload shape, the same endpoint creates a process run that shares the durable agent-run identity, streaming, artifacts, and observability APIs.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateAgentRunRequest
*/
func (a *AgentRunsAPIService) CreateAgentRun(ctx context.Context) ApiCreateAgentRunRequest {
	return ApiCreateAgentRunRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AgentRun
func (a *AgentRunsAPIService) CreateAgentRunExecute(r ApiCreateAgentRunRequest) (*AgentRun, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentRun
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.CreateAgentRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createAgentRunPayload == nil {
		return localVarReturnValue, nil, reportError("createAgentRunPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.createAgentRunPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateAgentRunArtifactUploadUrlRequest struct {
	ctx         context.Context
	ApiService  *AgentRunsAPIService
	agentRunId  string
	path        string
	contentType *string
	xApiVersion *string
}

func (r ApiCreateAgentRunArtifactUploadUrlRequest) ContentType(contentType string) ApiCreateAgentRunArtifactUploadUrlRequest {
	r.contentType = &contentType
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiCreateAgentRunArtifactUploadUrlRequest) XApiVersion(xApiVersion string) ApiCreateAgentRunArtifactUploadUrlRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCreateAgentRunArtifactUploadUrlRequest) Execute() (*AgentArtifactUrlResponse, *http.Response, error) {
	return r.ApiService.CreateAgentRunArtifactUploadUrlExecute(r)
}

/*
CreateAgentRunArtifactUploadUrl Create an artifact upload URL

Creates a signed upload URL for writing an artifact into the agent run artifact namespace.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@param path
	@return ApiCreateAgentRunArtifactUploadUrlRequest
*/
func (a *AgentRunsAPIService) CreateAgentRunArtifactUploadUrl(ctx context.Context, agentRunId string, path string) ApiCreateAgentRunArtifactUploadUrlRequest {
	return ApiCreateAgentRunArtifactUploadUrlRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
		path:       path,
	}
}

// Execute executes the request
//
//	@return AgentArtifactUrlResponse
func (a *AgentRunsAPIService) CreateAgentRunArtifactUploadUrlExecute(r ApiCreateAgentRunArtifactUploadUrlRequest) (*AgentArtifactUrlResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentArtifactUrlResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.CreateAgentRunArtifactUploadUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/artifacts/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.contentType != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "content-type", r.contentType, "simple", "")
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiForkAgentRunRequest struct {
	ctx         context.Context
	ApiService  *AgentRunsAPIService
	agentRunId  string
	xApiVersion *string
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiForkAgentRunRequest) XApiVersion(xApiVersion string) ApiForkAgentRunRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiForkAgentRunRequest) Execute() (*AgentRun, *http.Response, error) {
	return r.ApiService.ForkAgentRunExecute(r)
}

/*
ForkAgentRun Fork an agent run

Creates a new agent run from an existing run's interaction, input, configuration, artifacts, and conversation history.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiForkAgentRunRequest
*/
func (a *AgentRunsAPIService) ForkAgentRun(ctx context.Context, agentRunId string) ApiForkAgentRunRequest {
	return ApiForkAgentRunRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return AgentRun
func (a *AgentRunsAPIService) ForkAgentRunExecute(r ApiForkAgentRunRequest) (*AgentRun, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentRun
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.ForkAgentRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/fork"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAgentRunRequest struct {
	ctx         context.Context
	ApiService  *AgentRunsAPIService
	agentRunId  string
	xApiVersion *string
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiGetAgentRunRequest) XApiVersion(xApiVersion string) ApiGetAgentRunRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetAgentRunRequest) Execute() (*AgentRun, *http.Response, error) {
	return r.ApiService.GetAgentRunExecute(r)
}

/*
GetAgentRun Retrieve an agent run

Retrieves a single agent run by stable agent run ID.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiGetAgentRunRequest
*/
func (a *AgentRunsAPIService) GetAgentRun(ctx context.Context, agentRunId string) ApiGetAgentRunRequest {
	return ApiGetAgentRunRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return AgentRun
func (a *AgentRunsAPIService) GetAgentRunExecute(r ApiGetAgentRunRequest) (*AgentRun, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentRun
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.GetAgentRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAgentRunArtifactRequest struct {
	ctx         context.Context
	ApiService  *AgentRunsAPIService
	agentRunId  string
	path        string
	url         *bool
	disposition *string
	filename    *string
	xApiVersion *string
}

func (r ApiGetAgentRunArtifactRequest) Url(url bool) ApiGetAgentRunArtifactRequest {
	r.url = &url
	return r
}

func (r ApiGetAgentRunArtifactRequest) Disposition(disposition string) ApiGetAgentRunArtifactRequest {
	r.disposition = &disposition
	return r
}

func (r ApiGetAgentRunArtifactRequest) Filename(filename string) ApiGetAgentRunArtifactRequest {
	r.filename = &filename
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiGetAgentRunArtifactRequest) XApiVersion(xApiVersion string) ApiGetAgentRunArtifactRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetAgentRunArtifactRequest) Execute() (*AgentArtifactUrlResponse, *http.Response, error) {
	return r.ApiService.GetAgentRunArtifactExecute(r)
}

/*
GetAgentRunArtifact Get an agent run artifact

Downloads an artifact or returns a signed download URL when `url=1` is supplied.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@param path
	@return ApiGetAgentRunArtifactRequest
*/
func (a *AgentRunsAPIService) GetAgentRunArtifact(ctx context.Context, agentRunId string, path string) ApiGetAgentRunArtifactRequest {
	return ApiGetAgentRunArtifactRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
		path:       path,
	}
}

// Execute executes the request
//
//	@return AgentArtifactUrlResponse
func (a *AgentRunsAPIService) GetAgentRunArtifactExecute(r ApiGetAgentRunArtifactRequest) (*AgentArtifactUrlResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentArtifactUrlResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.GetAgentRunArtifact")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/artifacts/{path}"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"path"+"}", url.PathEscape(parameterValueToString(r.path, "path")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.url != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "url", r.url, "form", "")
	}
	if r.disposition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "disposition", r.disposition, "form", "")
	}
	if r.filename != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filename", r.filename, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAgentRunChildDetailsRequest struct {
	ctx             context.Context
	ApiService      *AgentRunsAPIService
	agentRunId      string
	childWorkflowId string
	xApiVersion     *string
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiGetAgentRunChildDetailsRequest) XApiVersion(xApiVersion string) ApiGetAgentRunChildDetailsRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetAgentRunChildDetailsRequest) Execute() (*WorkflowRunWithDetails, *http.Response, error) {
	return r.ApiService.GetAgentRunChildDetailsExecute(r)
}

/*
GetAgentRunChildDetails Get child agent run details

Fetches detailed workflow execution state for a child workflow of an agent run.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@param childWorkflowId
	@return ApiGetAgentRunChildDetailsRequest
*/
func (a *AgentRunsAPIService) GetAgentRunChildDetails(ctx context.Context, agentRunId string, childWorkflowId string) ApiGetAgentRunChildDetailsRequest {
	return ApiGetAgentRunChildDetailsRequest{
		ApiService:      a,
		ctx:             ctx,
		agentRunId:      agentRunId,
		childWorkflowId: childWorkflowId,
	}
}

// Execute executes the request
//
//	@return WorkflowRunWithDetails
func (a *AgentRunsAPIService) GetAgentRunChildDetailsExecute(r ApiGetAgentRunChildDetailsRequest) (*WorkflowRunWithDetails, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowRunWithDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.GetAgentRunChildDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/children/{childWorkflowId}/details"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"childWorkflowId"+"}", url.PathEscape(parameterValueToString(r.childWorkflowId, "childWorkflowId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAgentRunDetailsRequest struct {
	ctx            context.Context
	ApiService     *AgentRunsAPIService
	agentRunId     string
	includeHistory *bool
	xApiVersion    *string
}

func (r ApiGetAgentRunDetailsRequest) IncludeHistory(includeHistory bool) ApiGetAgentRunDetailsRequest {
	r.includeHistory = &includeHistory
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiGetAgentRunDetailsRequest) XApiVersion(xApiVersion string) ApiGetAgentRunDetailsRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetAgentRunDetailsRequest) Execute() (*WorkflowRunWithDetails, *http.Response, error) {
	return r.ApiService.GetAgentRunDetailsExecute(r)
}

/*
GetAgentRunDetails Get agent run details

Fetches detailed workflow execution state for an agent run, optionally including processed history.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiGetAgentRunDetailsRequest
*/
func (a *AgentRunsAPIService) GetAgentRunDetails(ctx context.Context, agentRunId string) ApiGetAgentRunDetailsRequest {
	return ApiGetAgentRunDetailsRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return WorkflowRunWithDetails
func (a *AgentRunsAPIService) GetAgentRunDetailsExecute(r ApiGetAgentRunDetailsRequest) (*WorkflowRunWithDetails, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *WorkflowRunWithDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.GetAgentRunDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/details"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeHistory != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_history", r.includeHistory, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProcessRunContextRequest struct {
	ctx         context.Context
	ApiService  *AgentRunsAPIService
	agentRunId  string
	xApiVersion *string
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiGetProcessRunContextRequest) XApiVersion(xApiVersion string) ApiGetProcessRunContextRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetProcessRunContextRequest) Execute() (*ProcessContextResponse, *http.Response, error) {
	return r.ApiService.GetProcessRunContextExecute(r)
}

/*
GetProcessRunContext Get process run context

Returns the current node and the current process context snapshot for a process run.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiGetProcessRunContextRequest
*/
func (a *AgentRunsAPIService) GetProcessRunContext(ctx context.Context, agentRunId string) ApiGetProcessRunContextRequest {
	return ApiGetProcessRunContextRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return ProcessContextResponse
func (a *AgentRunsAPIService) GetProcessRunContextExecute(r ApiGetProcessRunContextRequest) (*ProcessContextResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProcessContextResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.GetProcessRunContext")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/context"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetProcessRunHistoryRequest struct {
	ctx         context.Context
	ApiService  *AgentRunsAPIService
	agentRunId  string
	xApiVersion *string
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiGetProcessRunHistoryRequest) XApiVersion(xApiVersion string) ApiGetProcessRunHistoryRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetProcessRunHistoryRequest) Execute() (*ProcessHistoryResponse, *http.Response, error) {
	return r.ApiService.GetProcessRunHistoryExecute(r)
}

/*
GetProcessRunHistory Get process run history

Returns the hydrated node history for a process run, loading full history artifacts when available for long-running executions.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiGetProcessRunHistoryRequest
*/
func (a *AgentRunsAPIService) GetProcessRunHistory(ctx context.Context, agentRunId string) ApiGetProcessRunHistoryRequest {
	return ApiGetProcessRunHistoryRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return ProcessHistoryResponse
func (a *AgentRunsAPIService) GetProcessRunHistoryExecute(r ApiGetProcessRunHistoryRequest) (*ProcessHistoryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProcessHistoryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.GetProcessRunHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/history"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAgentRunArtifactsRequest struct {
	ctx         context.Context
	ApiService  *AgentRunsAPIService
	agentRunId  string
	visibility  *string
	xApiVersion *string
}

func (r ApiListAgentRunArtifactsRequest) Visibility(visibility string) ApiListAgentRunArtifactsRequest {
	r.visibility = &visibility
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiListAgentRunArtifactsRequest) XApiVersion(xApiVersion string) ApiListAgentRunArtifactsRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiListAgentRunArtifactsRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.ListAgentRunArtifactsExecute(r)
}

/*
ListAgentRunArtifacts List agent run artifacts

Lists user-visible artifact paths for an agent run. Internal artifact files are excluded by default.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiListAgentRunArtifactsRequest
*/
func (a *AgentRunsAPIService) ListAgentRunArtifacts(ctx context.Context, agentRunId string) ApiListAgentRunArtifactsRequest {
	return ApiListAgentRunArtifactsRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return []string
func (a *AgentRunsAPIService) ListAgentRunArtifactsExecute(r ApiListAgentRunArtifactsRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.ListAgentRunArtifacts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/artifacts"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAgentRunChildrenRequest struct {
	ctx         context.Context
	ApiService  *AgentRunsAPIService
	agentRunId  string
	xApiVersion *string
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiListAgentRunChildrenRequest) XApiVersion(xApiVersion string) ApiListAgentRunChildrenRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiListAgentRunChildrenRequest) Execute() (*ListWorkflowRunsResponse, *http.Response, error) {
	return r.ApiService.ListAgentRunChildrenExecute(r)
}

/*
ListAgentRunChildren List child agent runs

Lists child workflows or sub-agent executions associated with an agent run.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiListAgentRunChildrenRequest
*/
func (a *AgentRunsAPIService) ListAgentRunChildren(ctx context.Context, agentRunId string) ApiListAgentRunChildrenRequest {
	return ApiListAgentRunChildrenRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return ListWorkflowRunsResponse
func (a *AgentRunsAPIService) ListAgentRunChildrenExecute(r ApiListAgentRunChildrenRequest) (*ListWorkflowRunsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListWorkflowRunsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.ListAgentRunChildren")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/children"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAgentRunUpdatesRequest struct {
	ctx         context.Context
	ApiService  *AgentRunsAPIService
	agentRunId  string
	since       *float32
	xApiVersion *string
}

func (r ApiListAgentRunUpdatesRequest) Since(since float32) ApiListAgentRunUpdatesRequest {
	r.since = &since
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiListAgentRunUpdatesRequest) XApiVersion(xApiVersion string) ApiListAgentRunUpdatesRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiListAgentRunUpdatesRequest) Execute() (*AgentRunUpdatesResponse, *http.Response, error) {
	return r.ApiService.ListAgentRunUpdatesExecute(r)
}

/*
ListAgentRunUpdates List agent run updates

Returns stored compact messages for an agent run after an optional timestamp cursor.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiListAgentRunUpdatesRequest
*/
func (a *AgentRunsAPIService) ListAgentRunUpdates(ctx context.Context, agentRunId string) ApiListAgentRunUpdatesRequest {
	return ApiListAgentRunUpdatesRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return AgentRunUpdatesResponse
func (a *AgentRunsAPIService) ListAgentRunUpdatesExecute(r ApiListAgentRunUpdatesRequest) (*AgentRunUpdatesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentRunUpdatesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.ListAgentRunUpdates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/updates"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListAgentRunsRequest struct {
	ctx         context.Context
	ApiService  *AgentRunsAPIService
	id          *string
	status      *[]string
	interaction *string
	startedBy   *string
	since       *time.Time
	until       *time.Time
	limit       *float32
	offset      *float32
	cursor      *string
	scheduleId  *string
	type_       *string
	runType     *[]string
	runKind     *string
	sort        *string
	order       *string
	xApiVersion *string
}

// Filter by agent run ID
func (r ApiListAgentRunsRequest) Id(id string) ApiListAgentRunsRequest {
	r.id = &id
	return r
}

// Filter by status (single or multiple)
func (r ApiListAgentRunsRequest) Status(status []string) ApiListAgentRunsRequest {
	r.status = &status
	return r
}

// Filter by interaction ID or code
func (r ApiListAgentRunsRequest) Interaction(interaction string) ApiListAgentRunsRequest {
	r.interaction = &interaction
	return r
}

// Filter by user who started the run
func (r ApiListAgentRunsRequest) StartedBy(startedBy string) ApiListAgentRunsRequest {
	r.startedBy = &startedBy
	return r
}

// Only return runs started after this date
func (r ApiListAgentRunsRequest) Since(since time.Time) ApiListAgentRunsRequest {
	r.since = &since
	return r
}

// Only return runs started at or before this date
func (r ApiListAgentRunsRequest) Until(until time.Time) ApiListAgentRunsRequest {
	r.until = &until
	return r
}

// Maximum number of results (default: 50)
func (r ApiListAgentRunsRequest) Limit(limit float32) ApiListAgentRunsRequest {
	r.limit = &limit
	return r
}

// Offset for pagination
func (r ApiListAgentRunsRequest) Offset(offset float32) ApiListAgentRunsRequest {
	r.offset = &offset
	return r
}

// Cursor for stable pagination
func (r ApiListAgentRunsRequest) Cursor(cursor string) ApiListAgentRunsRequest {
	r.cursor = &cursor
	return r
}

// Filter by schedule ID
func (r ApiListAgentRunsRequest) ScheduleId(scheduleId string) ApiListAgentRunsRequest {
	r.scheduleId = &scheduleId
	return r
}

// Filter by run type
func (r ApiListAgentRunsRequest) Type_(type_ string) ApiListAgentRunsRequest {
	r.type_ = &type_
	return r
}

// Filter by public runtime mode
func (r ApiListAgentRunsRequest) RunType(runType []string) ApiListAgentRunsRequest {
	r.runType = &runType
	return r
}

// Filter by internal run discriminator
func (r ApiListAgentRunsRequest) RunKind(runKind string) ApiListAgentRunsRequest {
	r.runKind = &runKind
	return r
}

// Field to sort by
func (r ApiListAgentRunsRequest) Sort(sort string) ApiListAgentRunsRequest {
	r.sort = &sort
	return r
}

// Sort order
func (r ApiListAgentRunsRequest) Order(order string) ApiListAgentRunsRequest {
	r.order = &order
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiListAgentRunsRequest) XApiVersion(xApiVersion string) ApiListAgentRunsRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiListAgentRunsRequest) Execute() (*ListAgentRunsResponse, *http.Response, error) {
	return r.ApiService.ListAgentRunsExecute(r)
}

/*
ListAgentRuns List agent runs

Lists agent runs with filters for ID, status, interaction, starter, date range, schedule, type, pagination cursor or offset, and sort order.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListAgentRunsRequest
*/
func (a *AgentRunsAPIService) ListAgentRuns(ctx context.Context) ApiListAgentRunsRequest {
	return ApiListAgentRunsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListAgentRunsResponse
func (a *AgentRunsAPIService) ListAgentRunsExecute(r ApiListAgentRunsRequest) (*ListAgentRunsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListAgentRunsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.ListAgentRuns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	if r.interaction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "interaction", r.interaction, "form", "")
	}
	if r.startedBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started_by", r.startedBy, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.until != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "until", r.until, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.scheduleId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "schedule_id", r.scheduleId, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.runType != nil {
		t := *r.runType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "run_type", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "run_type", t, "form", "multi")
		}
	}
	if r.runKind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "run_kind", r.runKind, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostAgentRunUpdateRequest struct {
	ctx                       context.Context
	ApiService                *AgentRunsAPIService
	agentRunId                string
	postAgentRunUpdatePayload *PostAgentRunUpdatePayload
	xApiVersion               *string
}

func (r ApiPostAgentRunUpdateRequest) PostAgentRunUpdatePayload(postAgentRunUpdatePayload PostAgentRunUpdatePayload) ApiPostAgentRunUpdateRequest {
	r.postAgentRunUpdatePayload = &postAgentRunUpdatePayload
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiPostAgentRunUpdateRequest) XApiVersion(xApiVersion string) ApiPostAgentRunUpdateRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiPostAgentRunUpdateRequest) Execute() (*PostAgentRunUpdateResponse, *http.Response, error) {
	return r.ApiService.PostAgentRunUpdateExecute(r)
}

/*
PostAgentRunUpdate Post an agent run update

Publishes a message or update into an agent run's workflow stream.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiPostAgentRunUpdateRequest
*/
func (a *AgentRunsAPIService) PostAgentRunUpdate(ctx context.Context, agentRunId string) ApiPostAgentRunUpdateRequest {
	return ApiPostAgentRunUpdateRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return PostAgentRunUpdateResponse
func (a *AgentRunsAPIService) PostAgentRunUpdateExecute(r ApiPostAgentRunUpdateRequest) (*PostAgentRunUpdateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PostAgentRunUpdateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.PostAgentRunUpdate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/updates"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postAgentRunUpdatePayload == nil {
		return localVarReturnValue, nil, reportError("postAgentRunUpdatePayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.postAgentRunUpdatePayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRestartAgentRunRequest struct {
	ctx                  context.Context
	ApiService           *AgentRunsAPIService
	agentRunId           string
	ndRestartCountNumber *NdRestartCountNumber
	xApiVersion          *string
}

func (r ApiRestartAgentRunRequest) NdRestartCountNumber(ndRestartCountNumber NdRestartCountNumber) ApiRestartAgentRunRequest {
	r.ndRestartCountNumber = &ndRestartCountNumber
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiRestartAgentRunRequest) XApiVersion(xApiVersion string) ApiRestartAgentRunRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRestartAgentRunRequest) Execute() (*AgentRun, *http.Response, error) {
	return r.ApiService.RestartAgentRunExecute(r)
}

/*
RestartAgentRun Restart an agent run

Restarts a stopped, failed, or completed agent run by launching a new workflow that loads the previous conversation history.

**Required permissions:** `workflow:run`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiRestartAgentRunRequest
*/
func (a *AgentRunsAPIService) RestartAgentRun(ctx context.Context, agentRunId string) ApiRestartAgentRunRequest {
	return ApiRestartAgentRunRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return AgentRun
func (a *AgentRunsAPIService) RestartAgentRunExecute(r ApiRestartAgentRunRequest) (*AgentRun, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AgentRun
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.RestartAgentRun")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/restart"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ndRestartCountNumber == nil {
		return localVarReturnValue, nil, reportError("ndRestartCountNumber is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.ndRestartCountNumber
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetryProcessNodeRequest struct {
	ctx                     context.Context
	ApiService              *AgentRunsAPIService
	agentRunId              string
	retryProcessNodePayload *RetryProcessNodePayload
	xApiVersion             *string
}

func (r ApiRetryProcessNodeRequest) RetryProcessNodePayload(retryProcessNodePayload RetryProcessNodePayload) ApiRetryProcessNodeRequest {
	r.retryProcessNodePayload = &retryProcessNodePayload
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiRetryProcessNodeRequest) XApiVersion(xApiVersion string) ApiRetryProcessNodeRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiRetryProcessNodeRequest) Execute() (*SignalAgentResponse, *http.Response, error) {
	return r.ApiService.RetryProcessNodeExecute(r)
}

/*
RetryProcessNode Retry a process node

Signals a process workflow to retry the current node or a requested node, re-entering the node with the current process context.

**Required permissions:** `workflow:admin`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param agentRunId
	@return ApiRetryProcessNodeRequest
*/
func (a *AgentRunsAPIService) RetryProcessNode(ctx context.Context, agentRunId string) ApiRetryProcessNodeRequest {
	return ApiRetryProcessNodeRequest{
		ApiService: a,
		ctx:        ctx,
		agentRunId: agentRunId,
	}
}

// Execute executes the request
//
//	@return SignalAgentResponse
func (a *AgentRunsAPIService) RetryProcessNodeExecute(r ApiRetryProcessNodeRequest) (*SignalAgentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SignalAgentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentRunsAPIService.RetryProcessNode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/agents/{agentRunId}/retry-node"
	localVarPath = strings.Replace(localVarPath, "{"+"agentRunId"+"}", url.PathEscape(parameterValueToString(r.agentRunId, "agentRunId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.retryProcessNodePayload == nil {
		return localVarReturnValue, nil, reportError("retryProcessNodePayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.retryProcessNodePayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchAgentRunsRequest struct {
	ctx             context.Context
	ApiService      *AgentRunsAPIService
	query           *string
	status          *[]string
	interaction     *string
	startedBy       *string
	categories      *[]string
	tags            *[]string
	contentTypeName *string
	runType         *[]string
	since           *time.Time
	until           *time.Time
	limit           *float32
	offset          *float32
	sort            *[]string
	xApiVersion     *string
}

// Full-text search across name, title, topic, interaction_name, and content
func (r ApiSearchAgentRunsRequest) Query(query string) ApiSearchAgentRunsRequest {
	r.query = &query
	return r
}

// Filter by status (single or multiple)
func (r ApiSearchAgentRunsRequest) Status(status []string) ApiSearchAgentRunsRequest {
	r.status = &status
	return r
}

// Filter by interaction ID or code
func (r ApiSearchAgentRunsRequest) Interaction(interaction string) ApiSearchAgentRunsRequest {
	r.interaction = &interaction
	return r
}

// Filter by user who started the run
func (r ApiSearchAgentRunsRequest) StartedBy(startedBy string) ApiSearchAgentRunsRequest {
	r.startedBy = &startedBy
	return r
}

// Filter by categories
func (r ApiSearchAgentRunsRequest) Categories(categories []string) ApiSearchAgentRunsRequest {
	r.categories = &categories
	return r
}

// Filter by tags
func (r ApiSearchAgentRunsRequest) Tags(tags []string) ApiSearchAgentRunsRequest {
	r.tags = &tags
	return r
}

// Filter by content type name
func (r ApiSearchAgentRunsRequest) ContentTypeName(contentTypeName string) ApiSearchAgentRunsRequest {
	r.contentTypeName = &contentTypeName
	return r
}

// Filter by public runtime mode
func (r ApiSearchAgentRunsRequest) RunType(runType []string) ApiSearchAgentRunsRequest {
	r.runType = &runType
	return r
}

// Only return runs started after this date
func (r ApiSearchAgentRunsRequest) Since(since time.Time) ApiSearchAgentRunsRequest {
	r.since = &since
	return r
}

// Only return runs started at or before this date
func (r ApiSearchAgentRunsRequest) Until(until time.Time) ApiSearchAgentRunsRequest {
	r.until = &until
	return r
}

// Maximum number of results (default: 50)
func (r ApiSearchAgentRunsRequest) Limit(limit float32) ApiSearchAgentRunsRequest {
	r.limit = &limit
	return r
}

// Offset for pagination
func (r ApiSearchAgentRunsRequest) Offset(offset float32) ApiSearchAgentRunsRequest {
	r.offset = &offset
	return r
}

[...]
