/*
Vertesia API

The Vertesia API provides project-scoped access to interaction execution and content workflows. Use it to run interactions, inspect execution history, stream run progress, replay previous executions, and search content objects and collections. Authenticate requests with a bearer token, or use the official `@vertesia/client` SDK for typed access from Node.js applications.

API version: 1.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// RenderingAPIService RenderingAPI service
type RenderingAPIService service

type ApiCreateRenderingJobRequest struct {
	ctx                   context.Context
	ApiService            *RenderingAPIService
	renderMarkdownPayload *RenderMarkdownPayload
	xApiVersion           *string
}

func (r ApiCreateRenderingJobRequest) RenderMarkdownPayload(renderMarkdownPayload RenderMarkdownPayload) ApiCreateRenderingJobRequest {
	r.renderMarkdownPayload = &renderMarkdownPayload
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiCreateRenderingJobRequest) XApiVersion(xApiVersion string) ApiCreateRenderingJobRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiCreateRenderingJobRequest) Execute() (*RenderMarkdownStartResponse, *http.Response, error) {
	return r.ApiService.CreateRenderingJobExecute(r)
}

/*
CreateRenderingJob Create a rendering job

Starts an asynchronous markdown rendering workflow for PDF or DOCX output.

**Required permissions:** `content:read`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateRenderingJobRequest
*/
func (a *RenderingAPIService) CreateRenderingJob(ctx context.Context) ApiCreateRenderingJobRequest {
	return ApiCreateRenderingJobRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RenderMarkdownStartResponse
func (a *RenderingAPIService) CreateRenderingJobExecute(r ApiCreateRenderingJobRequest) (*RenderMarkdownStartResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RenderMarkdownStartResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RenderingAPIService.CreateRenderingJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rendering/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.renderMarkdownPayload == nil {
		return localVarReturnValue, nil, reportError("renderMarkdownPayload is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	// body params
	localVarPostBody = r.renderMarkdownPayload
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRenderingJobStatusRequest struct {
	ctx           context.Context
	ApiService    *RenderingAPIService
	workflowId    *string
	workflowRunId *string
	xApiVersion   *string
}

func (r ApiGetRenderingJobStatusRequest) WorkflowId(workflowId string) ApiGetRenderingJobStatusRequest {
	r.workflowId = &workflowId
	return r
}

func (r ApiGetRenderingJobStatusRequest) WorkflowRunId(workflowRunId string) ApiGetRenderingJobStatusRequest {
	r.workflowRunId = &workflowRunId
	return r
}

// Optional Vertesia API version header. Use &#x60;20260319&#x60; for the current stable API shape.
func (r ApiGetRenderingJobStatusRequest) XApiVersion(xApiVersion string) ApiGetRenderingJobStatusRequest {
	r.xApiVersion = &xApiVersion
	return r
}

func (r ApiGetRenderingJobStatusRequest) Execute() (*RenderMarkdownStatusResponse, *http.Response, error) {
	return r.ApiService.GetRenderingJobStatusExecute(r)
}

/*
GetRenderingJobStatus Get rendering job status

Retrieves workflow status for a markdown rendering job and returns a download URL when complete.

**Required permissions:** `content:read`

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRenderingJobStatusRequest
*/
func (a *RenderingAPIService) GetRenderingJobStatus(ctx context.Context) ApiGetRenderingJobStatusRequest {
	return ApiGetRenderingJobStatusRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RenderMarkdownStatusResponse
func (a *RenderingAPIService) GetRenderingJobStatusExecute(r ApiGetRenderingJobStatusRequest) (*RenderMarkdownStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RenderMarkdownStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RenderingAPIService.GetRenderingJobStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/rendering/jobs/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.workflowId == nil {
		return localVarReturnValue, nil, reportError("workflowId is required and must be specified")
	}
	if r.workflowRunId == nil {
		return localVarReturnValue, nil, reportError("workflowRunId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_id", r.workflowId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "workflow_run_id", r.workflowRunId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xApiVersion != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-api-version", r.xApiVersion, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
